*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i{
    font-size: 24px;
}
body{
    font-weight: "Roboto","sans-serif";
    
}
.header{
    height: 100vh;
    background-image: url(./img/slider/slider-01.jpg);
    background-size:cover;
   
}
.layer
{
    background-color:rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;   
    text-align: center;    /* align-items: stretch;===> defult value*/
    height: 100%;         /*مبنستخدمش height الا فى header
                          وبعدين كمان بستخدم  fixed height*/
}
.header h5
{
color: #fff;
font-size: 24px;
}
.header h1
{
    color: #ff305b;
    font-size: 60px;
}

ul
{
 list-style-type: none;
 display: flex;
 
}
a
{
 color: #fff;
 text-decoration: none;

}
.nav-bar
{
 display: flex;
 justify-content: space-between;
 padding: 10px 25px;
 position: fixed;          /*  postion:fixedمش بياخد ال width كله
                             علشان كده هديله width=100%
                           او اديله left right top =0 زي bootstrap*/
 /*width: 100%;*/
 top: 0px;
 left: 0px;
 right: 0px;
 z-index: 10px;

}
.logo a
{
    font-weight: 900;
    font-size: 24px;
    color: #ff305b;;
}

.menue li
{
    padding: 0px 15px;
}
.menue a,.items a:hover{
    color:#ff305b ;
}



/*section2*/
.about
{
margin-top: 50PX;
}
.about-porfilo
{
    display: flex;
    justify-content: center;
    
}
.about-img{
    position: relative;

}
.about-img img{
    width:80%
}
.about-caption
{
background-color: transparent;
position: absolute;
top:0;
left: 0;
width: 80%;
height: 83%;
transition: all 0.5s ease 0s;/*ازاى اخلى transition يمشى بسهولة زى assignment*/
}
.about-img:hover .about-caption
{
background-color: rgba(0, 0, 0, 0.6);
}
.icon-caption{
display: flex;
flex-wrap: nowrap;
justify-content: center;
position: absolute;
top: 50%;
left: 30%;
}
.border-img
{
background-color: transparent;
position: absolute;
top:-20px;
left: -20px;
width: 80%;
height: 83%;
z-index: -1;
border: #555555 solid 7px;
border-radius: 5px;
}
.icon-caption i{
    color: #fff;
    font-size: 12px;
   padding:0px 10px ;
   opacity: 0;
   
   
}
.about-img:hover .icon-caption i{
    opacity: 1;
   
}
.about-content h2
{
font-size: 34px;
font-weight: 600;
padding-left: 10PX;
border-left: 3px solid #ff305b ;
line-height: 80%;
}
.about-content p
{
line-height: 160%;
color: #555555;

}
li
{
display: flex;

}
.about-list
{
    display: flex;
}
.about-list1,.about-list2
{
flex-direction: column;
padding: 10px;
line-height: 180%;
font-size: 20px;
}
.btn{
    margin: 20px;
}
.btn a
{
background-color: #ff305b;
border-radius: 4px;
color: #fff;
margin-right: 10px;
    padding: 10px 24px;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    text-decoration: none;
}
.btn :hover{
    background-color: red;
}
/*
@media all and (max-width:768px)
{
    .about-porfilo{
        width: 100%;
    }
    .about-img{
        width: 100%;
    }
    ايه الغلط هنا
}*/
/*section 3*/
.services
{
margin-top:50px ;
background-color:#f1f1f1;
}
.services-container
{

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}
.services-container h2
{
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    padding-top: 50px;

    color: #333;
    text-align: center;
   
}
.small{
    width: 10%;
    height: 4px;
    border-bottom: solid #ff305b;
    margin: auto;
    
}
.big{
    width: 20%;
height: 4px;
border-bottom: solid #ff305b;
margin: auto;
}
.web{
    text-align: center;
    padding:50px 50px;
    
}
.web h2
{
    padding: 20px 0px;
    color: #333;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    margin: 0 0 10px;
    text-align: center;
}
.web p
{
color:  #555555;
padding-bottom: 50px ;
padding-left: 20px;
padding-right: 20px;
font-size: 22px;
}
.web-design
{
width: 100%;
display: flex;
justify-content: space-around;
align-content: stretch;
}
.web-develop
{
width: 100%;
display: flex;
justify-content: space-around;
}
.design1,.design2,.design3,.design4
{
position: relative;
}
.design1-1,.design2-2,.design3-3,.design4-4
{
position: absolute;
top:0px;
left: 0px;
background-color: transparent;
width: 100%;
height: 100%;
}
.design1:hover .design1-1,.design2:hover .design2-2,
.design3:hover .design3-3,.design4:hover .design4-4
{
background-color: white;
border-radius: 5px;
}
 .web i{
     padding-top: 30px;
    color:#ff305b ;
  width: 10%;
}
/*section4*/
.products
{
margin-top:30px ;

}
.portfolio-products
{
    padding-right: 15px;
    padding-left: 15px;
    

}
.portfolio-products h2
{
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    padding-top: 50px;

    color: #333;
    text-align: center;
}
.items{
 display: flex;
 justify-content: center;
 padding: 40px 0px ;
}
.items a{
color:  #333333;
font-size: 18px;
font-weight: 500;
}
.items li
{
    padding: 0px 15px;
}
/*الست صور*/

.img1-2,.img3-4,.img5-6
{

width: 75%;
margin: auto;
display: flex;
overflow: hidden;

}
.prod-img1 ,.prod-img2,.prod-img3,
.prod-img4,.prod-img5,.prod-img6
{
 margin:20px 20px;
}
.img1-2 img,.img3-4 img,.img5-6 img
{
width: 100%;
}
.prod-img1,.prod-img2,.prod-img3,
.prod-img4,.prod-img5,.prod-img6
{
position: relative;
}
.img11,.img22,.img33,
.img44,.img55,.img66
{
position: absolute;
width: 100%;
height: 100%;
top:100%;

}
.prod-img1:hover .img11,.prod-img2:hover .img22,.prod-img3:hover .img33,
.prod-img4:hover .img44,.prod-img5:hover .img55,.prod-img6:hover .img66
{
    background-color: rgba(0, 0, 0, .6);
    top: 0px;
}
.small-img
{
width: 20;
color:#ff305b ;
position: absolute;
bottom: 7%;
right: 3%;
opacity: 0;

}
.prod-img1:hover .small-img,.prod-img2:hover .small-img,.prod-img3:hover .small-img,
.prod-img4:hover .small-img,.prod-img5:hover .small-img,.prod-img6:hover .small-img
{
opacity: 1;
}

.num-contain{
    background-color:#f1f1f1 ;
    display: flex;
    justify-content: center;
    padding:50px 0px ;
    text-align: center;
    margin: 50px 0px;
}
.num-contain div{
    margin:20px ;
}
.num-contain i{
    color: #ff305b;
    padding-bottom:15px ;
    font-size: 24px;
}
.num-contain h3{
    padding-bottom: 15px;
    font-size: 26px;
    font-weight: 800;
}
.num-contain h5{
    color: #555555;
    font-size: 16px;
}
/*section6 feedback*/
.feedback-container h2
{
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    color: #333;
    text-align: center;
}
.client1
{
display: flex;
justify-content: center;
background-color: #f1f1f1;
margin: auto;
width: 70%;
border-radius: 5px;
margin: 50px auto 0 ;
}

.client-about a
{
    color: #777777;
    font-size: 15px;
    padding-left: 5px;
}
.client-about 
{
display: flex;
padding-right: 20px;
}
.client-about p
{
    font-size: 16px;
    font-style: italic;
    color: #555555;
    font-weight: 600;
    line-height: 140%;
}
.client-about h3
{
    font-size: 26px;
    margin-bottom: 10px;
    margin-top: 50px;
}
.client1
{
position: relative;
overflow: hidden;

}
.triang
{
    background-color: #ff305b ;
width: 300px;
height: 300px;
position: absolute;
top: -150px;
left: -150px;
transform: rotate(45deg);

}

.client-img
{
    padding:50px ;
    z-index: 1;
}
.client-img img
{
border-radius: 50%;

}
.client-about i
{ 
   color: #777777;
   font-size: 16px;
}
.star i
{
    color: #f1c30d;
    padding-top: 20px;
    padding-bottom: 50px;
}
.about-icon{
    padding-left:20px ;
}
.parent
{
display: flex;
}
.icon-circule{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 50px;
  
}
.icon-circule i{
font-size: 12px;
color: #ff305b;
}
/*section7 ===>our blog*/
.our-blog
{
background-color: #f1f1f1;

padding: 50px 50px;
}
.our-blog-contain{
  
display: flex;
}
.sara{
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    color: #333;
    text-align: center;
}
.our-blog a{
    color:#333333;
    
    font-size: 20px;
}
.ready a{
    font-size: 16px;
    font-weight: 100;
    
}
 .hover-h2,.our-blog a,.our-blog p{
    padding:2px 10px;
    text-align: left;
}
.our-blog p{
    color:  #555555;;
}
.blog1,.blog2,.blog3
{
background-color:#ffffff;

margin: 25px;

}
.blog1 img,.blog3 img{
    width: 100%
}
.blog2 iframe{
    width: 100%
}
.ready:hover a {
    color:#ff305b ;
}
.hover-h2:hover a{
    color: #ff305b;
}
/*section8*/

.contact-us h2
{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    color: #333;
    text-align: center;
}
.priv-form{
    display: flex;
    justify-content: center;
    
}
.name,.email{
    margin:10px 15px;
    padding: 7px 0px;
   width: 25%;
   box-shadow: 2px 2px 5px #ccc;

}
.puplic-form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.subject,.message{
    margin:10px 15px;
    padding: 7px 0px;
   width: 53%;
   box-shadow: 2px 2px 5px #ccc;
   
}
.btn-form{
    position: relative;
    margin:45px;
   
}
.btn-form input{
    width: 15%;
    padding: 10px 10px;
    position: absolute;
    left: 200px;
   bottom: 5px;
   background-color: #ff305b ;
  border-radius: 4px;
  border-color: #ff305b;
  color: #fff;
   
}
.btn-form:hover input{
    background-color: #EC2403;
}

/*section9 ===>footer*/
.footer{
    background-color: #333333;
    text-align: center;
    margin-top: 70px;
}
.foot-icon{
   color: #fff;
    padding: 50px 0px 20px;
   
}
.foot-icon i{
    font-size: 16px;
    padding: 0px 10px;
}
.foot-text {
    color: #fff;
    padding-bottom:50px ;
}
.foot-text a{
    color: #ff305b;

}
.foot-text a:hover{
    text-decoration: underline;
    color:#ff305b ;
}
